<!DOCTYPE html>
<html>
<head>
  <title>Home dice page</title>
</head>

<body


<h1>My page</h1>
  <ul>
    <li><a href='/dice/2/6'> Roll two six sided dice</a></li>
    <li><a href='/dice/2/10'>Roll two ten sided dice</a></li>
    <li><a href='/dice/1/20'>Roll one twenty sided dice</a></li>
    <li><a href='/dice/5/4'>Roll five four sided dice</a></li>
  </ul>
</body>
</html>
